{# image is above content for mobile screens and to left otherwise #}

<article class="summary2">
  <h2 class="summary2-title"><a href="{{ url }}">{{ heading }}</a></h2>

    {% if date or location %} {# LEFT COLUMN #}
      <div class="columns">
        <div class="left">
          {{ date }}  
          {{ location }}  
        </div>

        <div class="right">  {# RIGHT COLUMN #}
          {{ summary }}
          {#  {{ contact }} 
              {{ contactp }} 
              {{ webform }} #}
        </div>
      </div>
    {% else %}
      <div class="nocolumns">
        <div>
          {{ summary }}
        {# {{ contact }}
           {{ contactp }} 
            {{ webform }} #}
        </div>
      </div>
    {% endif %}
  </article>
