{#  callout.twig is "included" in bikeclub_solo/templates/paragraphs/paragraph--callout.html.twig
    which must be modified if fields are added.

  Do not put paragraph--callout.html.twig in the module/templates folder, because then
  it's applied to the admin theme and the contextual edit link is not displayed in the admin view.

  Colors are set in the subtheme (Appearance > Bikeclub_solo) and made available to the template 
  via a preprocess hook in bikeclub_solo.theme.
 #}

{%
  set classes = [
	'callout',
	height, 
  ]
%}
{% set bg_color = shaded ? shade_color: '#ffffff' %}


<div{{ attributes.addClass(classes) }} style="background-color: {{ bg_color }}; border-left: 6px solid {{ border_color }};">
  <div class="callout-text">
    <h4><center>{{ heading }}</center></h4>
    {{ content }}

    {% if button_text %}
    <div class="button" style="background-color: {{ button_bg }};">
      <a href="{{ button_uri }}" style="color: {{ button_tx }};">{{ button_text }}</a>
    </div>
    {% endif %}
  </div>
</div>