{% extends "block.html.twig" %}
{% set attributes = attributes.addClass(classes, ['mt-4','max-w-100','max-h-100']) %}

{# Added margin above logo. 
   Added max width attribute so logo hyperlink doesn't obscure user_account menu
#}

{% block content %}
  {% if site_logo %}
    <a href="{{ path('<front>') }}" rel="home">
      <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
    </a>
  {% endif %}
  {% if site_name %}
    <div class="text-2xl text-background">
      {# <a href="{{ path('<front>') }}" rel="home">{{ site_name }}</a> #}
      {{ site_name }}
    </div>
  {% endif %}
   {% if site_slogan %}
    <div class="text-sm text-background">
      {{ site_slogan }}
    </div>
  {% endif %}
{% endblock %}
