{# image is above content for mobile screens and to left otherwise #}
<article class="bikeclub-card">
 
  <div class="bikeclub-card__body">
    <h2 class="bikeclub-card__title"><a href="{{ url }}">{{ heading }}</a></h2>
  </div>
  {# extra div to make columns for image / date & location #}
  {% if mediaImage and date %}
  <div class="bikeclub-card__body">
  {% endif %}

  {% if mediaImage  %}
    <div class="bikeclub-card__image">
      {{ mediaImage }}
    </div>
  {% endif %}  

  {% if date or location %}
  <div class="bikeclub-card__date">
    {{ date }}
    {{ location }}
  </div>
  {% endif %} 

  {% if mediaImage and date %}
  </div>
  {% endif %}

  <div class="bikeclub-card__body">
    {{ content }}
  </div>
</article>

